<!-- <h1>This is the heading with h1 tag {{title}} {{getValue()}}</h1> -->
<!-- <button type="button" class="btn-close" disabled aria-label="Close"></button>
<app-todos></app-todos>
<app-inline></app-inline>
<app-mod-comp></app-mod-comp>
<button (click)="getValue('from arg')">Click me</button>
<br/>
<input type="text" #box1 placeholder="Enter the name" >
<button (click)="getValue(box1.value)">Click me</button>
<h3>The content typed is {{displayValue}}</h3> -->

<!-- counter -->
<!-- <button (click)="counter('add')">Increase</button>
{{count}}
<button (click)="counter('sub')">Decrease</button> -->

<!-- <input type="text" disabled={{isDisabled}} value={{inputValue}}>
<br><br>
<input type="text" [disabled]=isDisabled [value]=inputValue> -->

<!-- <h1 *ngIf="checkIfElse == 'apple'">This is Apple</h1>
<h1 *ngIf="checkIfElse == 'ball'">This is Ball</h1>
<h1 *ngIf="checkIfElse == 'cat'">This is Cat</h1>

<ng-template #elseBlock>
    This is false
</ng-template> -->

<!-- Switch cases -->
<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'">Red</h1>
    <h1 *ngSwitchCase="'blue'">Blue</h1>
    <h1 *ngSwitchCase="'yellow'">Yellow</h1>
    <h1 *ngSwitchDefault>Unknown</h1>
</div> -->
<!-- <div *ngFor="let names of toCheckForLoop">
    <h3>Names is {{names}}</h3>
</div>
<br><br>
<div *ngFor="let details of obj">   
    <h3>Names is {{details.name}} and phone is {{details.phone}}</h3>
</div> -->

<!-- Style Binding -->
<!-- <h1 [style.color]="color">Lets test the style binding</h1>
<button (click)="changeTheColor()">Change the color</button> -->

<!-- ----------------------------------------- -->
<!-- <app-header/> -->
<!-- <app-forms/> -->
<!-- <app-todos/>  -->
<!-- <app-child [item]="number"/>
<button (click)="changeNumber()">Change</button> -->
<!-- -------------------------------------------------- -->

<!-- Hide and Show the content -->
<!-- <button  (click)="doToggle()">Toggle</button>
<h1 *ngIf="toggle">This is heading</h1>

Trying out material UI
<div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div> -->

<!-- <ul *ngFor="let item of obj">
    <app-child [data] ="item"/>
</ul> -->

<!-- Sending data from parent comp to child comp
<app-child (updateDataEvent) = "updateEvent($event)"></app-child> -->

<!-- Two way binding -->
<!-- <input type="text" [(ngModel)]="displayValue">
{{displayValue}} -->

<!-- Pipes -->
<!-- <h1>{{date | date : "fullDate"}}</h1> -->

<!-- Custom Pipes -->
<!-- <h1>{{20 | inrToUsd : 100}}</h1> -->

<!-- Custom Directives -->
<!-- <h1 appRedEl></h1> -->

<!-- Routing -->
<!-- <li><a routerLink="">Home</a></li>
<li><a routerLink="todo">Todo </a></li>
<li><a routerLink="forms">Form</a></li>

Users

<li>
  <a routerLink="alphabets/1">Apple</a>
</li>
<li>
  <a routerLink="alphabets/2">Ball</a>
</li>
<li>
  <a routerLink="alphabets/3">Cat</a>
</li>
<li>
  <a routerLink="alphabets/4">Dog</a>
</li> -->

<!-- From Service -->
<!-- <ul>
  <li *ngFor="let userID of userDataService">{{ userID.id }}</li>
</ul> -->

<!-- Calling api -->
<!-- <ul>
  <li *ngFor="let data of dataApi">{{ data.phone }}</li>
</ul> -->

<!-- <app-footer /> -->

<!-- Form to store the data in the list through api -->
<!-- <form #saveForm="ngForm" (ngSubmit)="saveDetails(saveForm.value)">
  User Id : <input ngModel type="text" name="userId" />
  <br />
  Id : <input ngModel type="text" name="id" />
  <br />
  Title : <input ngModel type="text" name="title" id="" />
  <button>Add new User</button>
</form>
<router-outlet></router-outlet> -->

<!-- Lazing loading for Components (Components included are : admin-ll and user-ll) -->
<!-- <button (click)="loadAdmin()">Admin</button>
<br /><br /> -->
<!-- <button (click)="loadUser()">User</button> -->

<app-header>This is from the comp call</app-header>
